*.lo
*.o
*.libs
*.la
*/debug
*/release
*.pdb
*.ncb
*.sln
*.suo
*.vcproj*
moc_*
.deps
autom4te.cache
aclocal.m4
build-aux
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile.in
Makefile
stamp-h1
src/version.c
videoplayer
.cdtproject
.project
.settings
*~
*.tar.gz
*.zip
